.boxscore-pitching-home.hide
  %h3
    %span.home-team-name#home-stats= @statistics.home_team.display_name
    &ndash; Pitching
  %table.standing
    %thead.boxscore-header
      %tr
        %th 
          .home-team-name= @statistics.home_team.display_name
        %th IP
        %th H
        %th R
        %th ER
        %th BB
        %th SO
        %th HR
        %th ERA
    %tbody
      - @statistics.home_team.pitchers.nil? || @statistics.home_team.pitchers.each do |player|
        %tr
          %td= player.display_name
          %td= player.innings
          %td= player.hits
          %td= player.runs
          %td= player.earned_runs
          %td= player.walks
          %td= player.strike_outs
          %td= player.homeruns
          %td= player.earned_run_average
    %tfoot.boxscore-footer
      %tr
        %td
          %b Total
        %td
          %b= @statistics.home_team.total_pitcher.innings
        %td
          %b= @statistics.home_team.total_pitcher.hits
        %td
          %b= @statistics.home_team.total_pitcher.runs
        %td
          %b= @statistics.home_team.total_pitcher.earned_runs
        %td
          %b= @statistics.home_team.total_pitcher.walks
        %td
          %b= @statistics.home_team.total_pitcher.strike_outs
        %td
          %b= @statistics.home_team.total_pitcher.homeruns
        %td
          %b -
  -#.home-pitching-specifics
    -#%i pitching specific placeholder