.boxscore-pitching-home.hide
  %h3
    %span.home-team-name#home-stats= @statistics.home_team.display_name.upcase
    PITCHING
  %table.standing
    %thead.boxscore-header
      %tr
        %th.first 
          .home-team-name PLAYERS
        %th IP
        %th H
        %th R
        %th ER
        %th BB
        %th SO
        %th HR
        %th.last ERA
    %tbody
      - @statistics.home_team.pitchers.nil? || @statistics.home_team.pitchers.each do |player|
        %tr
          %td.first= player.display_name
          %td.data= player.innings
          %td.data= player.hits
          %td.data= player.runs
          %td.data= player.earned_runs
          %td.data= player.walks
          %td.data= player.strike_outs
          %td.data= player.homeruns
          %td.data.last= player.earned_run_average
    %tfoot.boxscore-footer
      %tr
        %td.first
          %b Total
        %td
          %b.data= @statistics.home_team.total_pitcher.innings
        %td
          %b.data= @statistics.home_team.total_pitcher.hits
        %td
          %b.data= @statistics.home_team.total_pitcher.runs
        %td
          %b.data= @statistics.home_team.total_pitcher.earned_runs
        %td
          %b.data= @statistics.home_team.total_pitcher.walks
        %td
          %b.data= @statistics.home_team.total_pitcher.strike_outs
        %td
          %b.data= @statistics.home_team.total_pitcher.homeruns
        %td.last
          %b -
  -#.home-pitching-specifics
    -#%i pitching specific placeholder