<!doctype html>
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta(name="refresh" content="10")
    %title= @title
    %link(rel="stylesheet" href="#{SportsPresentation.presenter_base_url}/stylesheets/reset.css")
    %link(rel="stylesheet" href="#{SportsPresentation.presenter_base_url}/stylesheets/base.css")

    - if @additional_stylesheet
      %link(rel="stylesheet" href="#{SportsPresentation.presenter_base_url}/stylesheets/#{@additional_stylesheet}.css")
    %script{:type => "text/javascript", :src => "#{SportsPresentation.presenter_base_url}/scripts/jquery.min.js"}
  %body
    %div.bl-bg
      %div.container
        = yield

        %div.logofooter
  %script{:type => "text/javascript", :src => "#{SportsPresentation.presenter_base_url}/scripts/swipe.js"}
  %script
    :plain
      var slider = new Swipe(document.getElementById('slider'), {
        callback: function(e, pos) {
          var i = bullets.length;
          while (i--) {
            bullets[i].className = ' ';
          }
          bullets[pos].className = 'on';
        }
      }),bullets = document.getElementById('position').getElementsByTagName('em');                