%header.contest
  %div.location
  %div.round= @statistics.round_name
  %div.clear

  %h1= @statistics.competition_name

%header.teams
  %h1.home-team= @statistics.home_team.display_name
  %h1.away-team= @statistics.away_team.display_name

%div.clear

%hr.indent
%div.graphicarrow
  %div.arrow-up
  %div.arrow-up-a
  %div.arrow-up-b

%div.clear

%section.scores
  %div.home-team= @statistics.home_team.score
  %div.away-team= @statistics.away_team.score

%div.scorebox
  %h1= t "statistics.score"

%div.clear

%section.goal-time-line
  %ol
    - @statistics.goals_rundown.each_with_index do |block, block_index|
      - block.list.each_with_index do |goal, goal_index|
        - if block.side == :away && block_index > 0
          %li.home-nodisplay
        - if block.side == :home && block_index > 0
          %li.away-nodisplay
        %li{ :class => "#{block.side}-team" }
          %span.name= goal.player_name
          %span.time= goal.time

  %div.clear


%div.clear

%section.stats
  %ol
    %li
      %span.home-team= "#{@statistics.home_team.possession_percentage}%"
      %span.away-team= "#{@statistics.away_team.possession_percentage}%"
      =t "statistics.possession"
    %li
      %span.home-team= @statistics.home_team.shot_statistics
      %span.away-team= @statistics.away_team.shot_statistics
      =t "statistics.shots_shots_on_goal"
    %li
      %span.home-team= @statistics.home_team.saves
      %span.away-team= @statistics.away_team.saves
      =t "statistics.saves"
    %li
      %span.home-team= @statistics.home_team.yellow_cards
      %span.away-team= @statistics.away_team.yellow_cards
      =t "statistics.yellow_cards"
    %li
      %span.home-team= @statistics.home_team.red_cards
      %span.away-team= @statistics.away_team.red_cards
      =t "statistics.red_cards"
    %li
      %span.home-team= @statistics.home_team.crosses
      %span.away-team= @statistics.away_team.crosses
      =t "statistics.crosses"
    %li
      %span.home-team= @statistics.home_team.fouls
      %span.away-team= @statistics.away_team.fouls
      =t "statistics.fouls"

