.baseball-container(data-role="page")
  %h3.title
    %span.away-team-name= @statistics.away_team.display_name.upcase
    VS
    %span.home-team-names= @statistics.home_team.display_name.upcase
  %hr.indent
  .graphicarrow
    .arrow-up
    .arrow-up-a
    .arrow-up-b
  %br
  .linescore-container
    .team
      %table.standing
        %thead.linescore-header
          %tr
            %th.blank= "Team"
        %tbody
          %tr.away
            %td.first
              .away-team-name= @statistics.away_team.display_name
          %tr.home
            %td.first
              .home-team-name= @statistics.home_team.display_name
    .innings#master
      %table.standing
        %thead.linescore-header
          %tr
            - 19.times do |index|
              - inn = index + 1
              %th{ :class => "inning-#{inn}"}= inn
        %tbody
          %tr.away
            - 19.times do |index|
              - inn = index + 1
              %td{ :class => "inning-#{inn}"}= @statistics.away_team.innings[index].nil? ? "5" : @statistics.away_team.innings[index]["score"]
          %tr.home
            - 19.times do |index|
              - inn = index + 1
              %td{ :class => "inning-#{inn}"}= @statistics.home_team.innings[index].nil? ? "5" : @statistics.home_team.innings[index]["score"]
    .total
      %table.standing
        %thead.linescore-header
          %tr
            %th.blank
            %th R
            %th.hits H
            %th.errors.last E
        %tbody
          %tr.away
            %td.blank
            %td.runs= @statistics.away_team.runs
            %td.hits= @statistics.away_team.hits
            %td.errors.last= @statistics.away_team.errors
          %tr.home
            %td.blank
            %td.runs= @statistics.home_team.runs
            %td.hits= @statistics.home_team.hits
            %td.errors.last= @statistics.home_team.errors
  -#.play-by-play
    -#%i play by play placeholder text
  %br
  %div(data-role="fieldcontain")
    %fieldset.radioGroup(data-role="controlgroup" data-type="horizontal")
      %input#away_radio(type="radio" name="radio1" value="" checked="checked")
      %label(for="away_radio")
        %span.away-team-name= @statistics.away_team.display_name
      %input#home_radio(type="radio" name="radio1" value="")
      %label(for="home_radio")
        %span.home-team-name= @statistics.home_team.display_name
  .boxscore-batting-away
    %br
    %h3
      %span.away-team-name#away-stats= @statistics.away_team.display_name.upcase
      BATTING
    %table.standing
      %thead.boxscore-header
        %tr
          %th.first
            %span.away-team-name PLAYERS
          %th AB
          %th H
          %th R
          %th RBI
          %th HR
          %th BB
          %th K
          %th.last AVG
      %tbody
        - @statistics.away_team.players.each do |player|
          %tr
            %td.first= player.display_name
            %td.data= player.at_bats
            %td.data= player.hits
            %td.data= player.runs
            %td.data= player.rbi
            %td.data= player.homeruns
            %td.data= player.walks
            %td.data= player.strike_outs
            %td.data.last= player.batting_average
      %tfoot.boxscore-footer
        %tr
          %td.first
            %b Total
          %td
            %b.data= @statistics.away_team.total.at_bats
          %td
            %b.data= @statistics.away_team.total.hits
          %td
            %b.data= @statistics.away_team.total.runs
          %td
            %b.data= @statistics.away_team.total.rbi
          %td
            %b.data= @statistics.away_team.total.homeruns
          %td
            %b.data= @statistics.away_team.total.walks
          %td
            %b.data= @statistics.away_team.total.strike_outs
          %td.data.last
            %b -
    -#.away-batting-specifics
      -#%i batting specific placeholder
  %br
  = haml :baseball_away_pitching
  .boxscore-batting-home
    %h3
      %span.home-team-name#home-stats= @statistics.home_team.display_name.upcase
      BATTING
    %table.standing
      %thead.boxscore-header
        %tr
          %th.first
            .home-team-name PLAYERS
          %th AB
          %th H
          %th R
          %th RBI
          %th HR
          %th BB
          %th K
          %th.last AVG
      %tbody
        - @statistics.home_team.players.each do |player|
          %tr
            %td.first= player.display_name
            %td.data= player.at_bats
            %td.data= player.hits
            %td.data= player.runs
            %td.data= player.rbi
            %td.data= player.homeruns
            %td.data= player.walks
            %td.data= player.strike_outs
            %td.data.last= player.batting_average
      %tfoot.boxscore-footer
        %tr
          %td.first
            %b Total
          %td
            %b.data= @statistics.home_team.total.at_bats
          %td
            %b.data= @statistics.home_team.total.hits
          %td
            %b.data= @statistics.home_team.total.runs
          %td
            %b.data= @statistics.home_team.total.rbi
          %td
            %b.data= @statistics.home_team.total.homeruns
          %td
            %b.data= @statistics.home_team.total.walks
          %td
            %b.data= @statistics.home_team.total.strike_outs
          %td.last
            %b -
    -#.home-batting-specifics
      -#%i batting specific placeholder
  %br
  = haml :baseball_home_pitching