%header.contest
  %div.location
  %div.round= @events.round_name
  %div.clear

  %h1= @events.competition_name

%header.teams
  %h1.home-team= @events.home_team.name
  %h1.away-team= @events.away_team.name

%div.clear

%hr.indent
%div.graphicarrow
  %div.arrow-up
  %div.arrow-up-a
  %div.arrow-up-b

%div.clear

%section.scores
  %div.home-team= @events.home_team.score
  %div.away-team= @events.away_team.score

%div.scorebox
  %h1= t "statistics.score"

%div.clear

%section.goal-time-line
  %ol
    - @events.goals_rundown.each_with_index do |block, block_index|
      - block.list.each_with_index do |goal, goal_index|
        - if block.side == :away && block_index > 0
          %li.home-nodisplay
        - if block.side == :home && block_index > 0
          %li.away-nodisplay
        %li{ :class => "#{block.side}-team" }
          %span.name= goal.player_name
          %span.time= goal.time

  %div.clear


%div.clear

%section.events
  %ol
    - @events.event_list.each do |event|
      %li{ class: "#{event.class_name}" }
        - if event.time_code
          %span.time= event.time_code
        %span.name= event.name
        %p= event.message
        %div.clear
