%header.contest
  %div.location Stamford Bridge
  %div.round= @statistics.round_name
  %div.clear

  %h1= @statistics.competition_name

%header.teams
  %h1.home-team= @statistics.home_team.display_name
  %h1.away-team= @statistics.away_team.display_name

%div.clear

%hr.indent
%div.graphicarrow
  %div.arrow-up
  %div.arrow-up-a
  %div.arrow-up-b

%div.clear

%section.scores
  %div.home-team= @statistics.home_team.score
  %div.away-team= @statistics.away_team.score

%div.scorebox
  %h1 Score

%div.clear

%section.goal-time-line
  %ol
    - @statistics.goals_rundown.each_with_index do |block, block_index|
      - block.list.each_with_index do |goal, goal_index|
        %li{ :class => "#{block.side}-team #{goal_index == 0 && block_index > 0 ? 'scoredisplace' : nil}" }
          %span.name= goal.player_name
          %span.time= "#{goal.time}\""

%section.stats
  %ol
    %li
      %span.home-team 46%
      %span.away-team 54%
      Possession
    %li
      %span.home-team 18/5
      %span.away-team 10/3
      Shots/Shots on Goal
    %li
      %span.home-team 5
      %span.away-team 3
      Saves
    %li
      %span.home-team 1
      %span.away-team 1
      Yellow Cards
    %li
      %span.home-team 0
      %span.away-team 0
      Red Cards
    %li
      %span.home-team 16
      %span.away-team 14
      Crosses
    %li
      %span.home-team 5
      %span.away-team 3
      Fouls
